@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Fira Sans Condensed";
  background-color: #242424;
}

h1 {
  font-family: "Fira Sans Condensed";
  color: rgb(255, 255, 255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(https://wallpapers.com/images/featured/space-background-htygkta8z6o3mcx2.jpg);
  font-size: 150px;
  background-repeat: no-repeat;
  background-size: 1800px 200px;
  text-transform: uppercaese;
  margin-top: 200px;
  text-align: center;
  text-shadow: #242424;
}

h2 {
  font-family: "Fira Sans Condensed";
  color: rgb(166, 166, 166);
}

p {
  font-family: "Fira Sans Condensed";
  color: rgb(255, 255, 255);
  font-size: 20px;
}

body {
  background-image: url(https://www.hdwallpapers.in/download/galaxies_stars_glare_black_background_4k_hd_space-3840x2160.jpg);
  background-size: cover;
}

.desc {
  text-align: center;
}

.Mercury {
  color: red;
}
