@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Fira_Sans_Condensed";
  background-color: #242424;
}

.menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 30px;
  display: flex;
  padding: 20px, 20px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
}

.menu-icon .bar {
  width: 100%;
  height: 5px;
  background-color: #ffffff;
}

.menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #789291;
  transition: right 0.3s ease;
  padding-top: 60px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin: 20px 0;
}

.menu ul li a {
  color: #fefefe;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
}

.menu ul li a:hover {
  background-color: #ab8258;
  border-radius: 5px;
}

li,
a:hover {
  background-color: #ff9874;
}

li,
a {
  transition: all 0.3s ease 0s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
} 

li {
  display: inline;
  float: left;
  border-right: 1px solid #bbb;
}

li,
a {
  display: block;
  color: rgb(255, 255, 255); 
  text-align: center;
  padding: 20px 20px;
  background-color: #000000; 
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
