@font-face {
    font-family: "Fira_Sans_Condensed";
    src: url(Fira_Sans_Condensed/FiraSansCondensed-Black.ttf);
}
body{font-family: "Fira_Sans_Condensed";}
h1{color: black;
text-align: center;}
body{color: black;
text-align: center;}

body{background-image: url();
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;}

